<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--  CSS -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link href="css/navbar.css" rel="stylesheet">
        <title>Bluein - Votação</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Bluein Tech</a>
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://blueinv.com.br/">Site</a>
                    </li>
                </ul>
                <form action="index">
                    <button class="btn btn-outline-light">Logout</button>
                </form>
            </div>
        </nav>

        <main style="text-align: center;">
            <h1 style="margin-top: 20px; margin-left: 50px; margin-bottom: 50px;">Voto computado com sucesso!</h1>
            <h2 style="margin-top: 20px; margin-left: 50px; margin-bottom: 50px;">Aguarde o término da votação para mais informações...</h2>
        </main>
    </body>
</html>
