<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--  CSS -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link href="css/navbar.css" rel="stylesheet">
        <title>Bluein - Votação</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Bluein Tech</a>
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://blueinv.com.br/">Site</a>
                    </li>
                </ul>
                <form action="index">
                    <button class="btn btn-outline-light">Logout</button>
                </form>
            </div>
        </nav>

        <h1 style="margin-top: 20px; margin-left: 50px; margin-bottom: 50px;">Bem-vindo, vote no melhor empreendimento:</h1>
        <main>
            <div class="container bg-light p-5 rounded">
                <h1 style="margin-bottom: 20px;">Le Jardin</h1>
                <img src="/img/le-jardin.jpg" class="img-fluid" style="margin-bottom: 20px;" alt="...">
                <p class="lead">O Best Western Suites Le Jardin é um moderno, prático e aconchegante hotel de luxo com serviços de alto padrão. Cultivamos nossa excelência inspirados na harmonia, beleza e encanto das flores.</p>
                <button id="jardinButton" class="btn btn-lg btn-primary" style="width: 150px;" type="submit">Votar</button>
            </div>

            <div class="container bg-light p-5 rounded mt-5">
                <h1 style="margin-bottom: 20px;">Evian</h1>
                <img src="/img/evian.jpg" class="img-fluid" style="margin-bottom: 20px;" alt="...">
                <p class="lead">O conjunto aquático foi cuidadosamente projetado para criar beleza, conforto e entretenimento para toda a família. Desde o bar aquático, locais de relaxamento, áreas para crianças, até os nossos jardins e espaços verdes, nossa maior prioridade sempre foi oferecer a melhor experiência aos nossos usuários.</p>
                <button id="evianButton" class="btn btn-lg btn-primary" style="width: 150px;" type="submit">Votar</button>
            </div>

            <div class="container bg-light p-5 rounded mt-5">
                <h1 style="margin-bottom: 20px;">Olímpia Thermas</h1>
                <img src="/img/olimpia.jpg" class="img-fluid" style="margin-bottom: 20px;" alt="...">
                <p class="lead">O Olímpia Thermas é o 5º parque aquático mais visitado do mundo e o maior parque aquático de águas quentes da América Latina. Infra estrutura completa, oferece 55 atrações, muitas inéditas no país, dos mais radicais ao mais calmo.</p>
                <button id="olimpiaButton" class="btn btn-lg btn-primary" style="width: 150px;" type="submit">Votar</button>
            </div>
        </main>

        <script src="scripts/vote.js" userEmail="<%= userEmail %>"></script>
    </body>
</html>
